simplified_ui true
pane_frames false
default_layout "compact"

ui {
    pane_frames {
        rounded_corners true
    }
}

keybinds {
    normal {
        unbind "Ctrl p"
        unbind "Ctrl t"
        unbind "Ctrl n"
        unbind "Ctrl h"
        unbind "Ctrl s"
        unbind "Ctrl o"
        unbind "Ctrl q"
    }
    locked {
        unbind "Ctrl g"
        bind "Esc" { SwitchToMode "Normal"; }
        bind "p" { SwitchToMode "Pane"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "n" { SwitchToMode "Resize"; }
        bind "h" { SwitchToMode "Move"; }
        bind "s" { SwitchToMode "Search"; }
        bind "o" { SwitchToMode "Session"; }
    }
    resize {
        unbind "Ctrl n"
    }
    pane {
        unbind "Ctrl p"
    }
    move {
        unbind "Ctrl h"
    }
    tab {
        unbind "Ctrl t"
    }
    search {
        unbind "Ctrl s"
    }
    session {
        unbind "Ctrl o"
    }
}

theme "gruvbox-dark"
